.sideImage {
    height: 100vh;
    background-image: url('../../Images/sideImage.png');
    background-repeat: no-repeat;
    background-size: 30% 100vh;
}

.sideDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.button{
    padding: 2%;
    width: 40%;
    border-radius: 8px;
    background-color:#3AAFA9;
    color: white;
}
.title{
    /* margin-left: 15%; */
    text-align: center;
    color: #1a3038;
    margin: 0;
    font-family: serif;
}

.subtitle {
    /* margin-left: 15%; */
    width: 70%;
    text-align: center;
    color: #1a3038;
    

}