.sideImage {
    height: 100vh;
    background-image: url('../../Images/sideImage.png');
    background-repeat: no-repeat;
    background-size: 30% 100vh;
    
}

.sideDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.button1{
    padding: 12%;
    width: 200%;
    border-radius: 8px;
    background-color:#3AAFA9;
    color: white;
    border: 0;
    
    
}
.button1:hover{
    background-color:#2B7A78 ;
}
.title{
    /* margin-left: 15%; */
    text-align: center;
    color: #1a3038;
    margin: 0;
    font-family: serif;
}

.subtitle {
    /* margin-left: 15%; */
    width: 70%;
    text-align: center;
    color: #1a3038;
}

.heading1{
    margin-top: 10%;
    margin-bottom: 5%;
    font-size: larger;
}

.top-line{
    border-top: 1px solid black;
    margin-right: 3%;
}
.part{
    margin-bottom: 10%;
}

.btnVal{
    background-color: #3AAFA9;
    border: 0;
    border-radius: 50px;
    padding: 1%;
    margin-top: 5%;
    width: 20%;
}

.btnVal:hover{
    background-color:#2B7A78 ;
}

.btnVal1{
    background-color:white;
    border: 0;
    border-radius: 50px;
    padding: 1%;
    margin-top: 5%;
    width: 20%;
}

.btnVal1:hover{
    background-color: #17251A ;
    color: white;
    border: 2px solid white;
}

.subheading{
    margin-top: 3%;
    width: 75%;
}

.template{
    background-color: #17251A;
    color: #fff;
    padding: 5%;
}
.crousal{
    margin-top: 10%;
}
.overlapcard{
    position: relative;
    z-index: 1000;
    top:-30%;
    left: -10%;
}

.card{
    width: 80%;
    height: 200px !important;
}

.buildHeading{
    margin-left: 10%;
    
}

.behindcard{
    background-color: #3AAFA9 !important;
}
.carousel-control-prev-icon,.carousel-control-next-icon{
    /* color: black; */
    background-color: #17251A;
}

.dropdown{
    background-color: #17251A;
    /* margin-bottom: 5%; */
}

.dropdownheading{
    color: white;
}
.accordionClass{
    
    background-color: #17251A;
    color: white;
}

.accordClass{
    margin-bottom: 20%;
}

.crousalImg{
    width: 40%;
}

.btnVal2{
    background-color:white;
    border: 0;
    border-radius: 50px;
    padding: 2%;
    margin-top: 5%;
    width: 30%;
}

.btnVal2:hover{
    background-color: #17251A ;
    color: white;
    border: 2px solid white;
}
