.buttonVal{
    margin-left: 70%;
    margin-top: 3%;
    margin-bottom: 3%;
    padding: 2%;
    border-radius: 8px;
    /* background-color:#3AAFA9; */
    background-color:#3AAFA9;
    border:0;
    color: white;
}
.buttonVal:hover{
       /* background-color:#3AAFA9 ; */
       background-color:#2B7A78 ;
}

.searchButton{
    padding: 2%;
    border-radius: 8px;
    color: #ffffff;
    background-color: #3AAFA9;
    border: 0;
}

.title1{
    margin-top: 3%;
    margin-bottom: 8%;
    font-family: serif;
}

.searchbar {
    max-width: 50%;
}

.header{
    margin-top: 5%;
    background-color: aliceblue;
    border-radius: 10px;
    padding-left: 5%;
    padding-top: 1%;
    padding-bottom: 1%;
    color: gray;
}
.content{
    margin-top: 1%;
    background-color: rgb(242, 245, 248);
    border: 2px black;
    border-radius: 10px;
    padding-left: 5%;
    padding-top: 1%;
    padding-bottom: 1%;

    color: black;
}

.name{
    margin-left: 50%;
}
.name1{
    margin-right: 80%;
}