.navbarClass{
    background-color:rgba(253, 253, 253, 0.9);
    /* position: fixed; */
    z-index: 10000;
}

.navbar-nav > li{
    padding-left:15px;
    padding-right:15px;
    margin-left:15px;
    margin-right:15px;
    
  }

.navbar-nav li a{
    color:#156F92;
    font-size: large;
    font-weight: 400;
}  
.navbar-nav li a:hover{
    color:#1FCCDD;
}