.buttonValPage{
    margin-left: 70%;
    margin-top: 3%;
    margin-bottom: 3%;
    padding: 2%;
    border-radius: 8px;
    /* background-color:#3AAFA9; */
    background-color:#3AAFA9;
    border:0;
    color: white;
}
.buttonValPage:hover{
       /* background-color:#3AAFA9 ; */
       background-color:#2B7A78 ;
}

.searchButton{
    padding: 2%;
    border-radius: 8px;
    color: #ffffff;
    background-color: #3AAFA9;
    border: 0;
}

.titlePage{
    top: 5%;
    margin-bottom: 5%;
    font-family: serif;
    display: flex;
    /* align-items: center; */
    justify-content: center;
}

.searchbarPage {
    max-width: 50%;
}

.headerPage{
    margin-top: 5%;
    background-color: aliceblue;
    border-radius: 10px;
    padding-left: 5%;
    padding-top: 1%;
    padding-bottom: 1%;
    color: gray;
}
.contentPage{
    margin-top: 1%;
    background-color: rgb(242, 245, 248);
    border: 2px black;
    border-radius: 10px;
    padding-left: 5%;
    padding-top: 1%;
    padding-bottom: 1%;
    /* margin-bottom: 5%; */
    color: black;
}

.namePage{
    margin-left: 50%;
}
.name1Page{
    margin-right: 80%;
}

.deleteBut{
    border: 0;
    color:rgb(20, 170, 230);
}