/* .container-fluid{
    float: right;
}
.page{
    float: right;
} */
/* .loginpage{
    float: right;
    margin-top: 40px;
} */

.imagelogin{
    width: 70%;
}
.zen{
    overflow: hidden;
}

.buttonlogin{
    width: 80%;
}

.loginForm1{
    margin-top: 10%;
    
    /* padding-right: 5%; */
    margin-right: 25%;
}
.signUpForm{
    margin-top: 2%;
    /* padding-right: 5%; */
    margin-right: 25%;
}